<!DOCTYPE html>
<html>
    <head>
    <title>Insert New Station</title>
    </head>

    

    <body>
        <form>
            <label for="ftitle">Title:</label><br>
            <input type="text" id="title" name="ftitle" value=""><br>
            <label for="fname">Latitude:</label><br>
            <input type="text" id="latitude" name="fname" value=""><br>
            <label for="lname">Longitude:</label><br>
            <input type="text" id="longitude" name="lname" value="">
        </form>
        <br>
        <button type="button" onclick="send()">Submit</button>
        <p>New station id:</p>
        <p id="newStationId">None</p>
       
       
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script>
        function send() {
            let latitude = $("#latitude").val();
            let longitude = $("#longitude").val();
            let title = $("#title").val();
            console.log(latitude);
            console.log(longitude);
            $.ajax({
            type: "POST",
            url: window.location.origin+"/location/new",
            dataType: 'json',
            data: JSON.stringify({"latitude": latitude, "longitude": longitude, "title": title}),
            contentType: "application/json",
            success: function(data){
                console.log(data);
                $("#newStationId").text(data.station_id);
            },error: function( xhr, status, errorThrown){
                console.log('Error: ' + errorThrown );
                console.log('Status: ' + status );
                console.dir( xhr );
            },
            });
        }
        
        </script>
    </body>
</html>